<section class="home">

    <div class="line">
        <div class="w-50">
            <h1>Case one</h1>
            <form class="form"> 
                <label>Case one <img width="25" src="../../../assets/img/doubts-button.png"></label>
                <input>
            </form>
        
        </div>
        <div class="w-50">
            Case two
        </div>
    </div>
    <div class="line">
        <div class="w-50">
            Case three
        </div>
        <div class="w-50">
            Case four
        </div>
    </div>

</section>



<app-tooltip></app-tooltip>dzadza