@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@700&family=M+PLUS+2:wght@300&family=Outfit:wght@700&display=swap');

h1 {
    font-family: 'Akshar', sans-serif;
}

.home {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.line {
    flex-direction: row;
}

.w-50 {
    width: 50vw;
    height: 50vh;
}

.form {
    display:flex;
    flex-direction: column;
    align-items: center;
    input {
        width: 25%;
    }
}

#hoverImage {
  /* new styles below: */
  position: absolute;
  color: white;
  background-color:red;
  top: 50%;
  left: 35%;
}

#hoverImageContainer {
    position: absolute;
    left: 75%;
    transform: translate(-50%, 0);
}